[viewBag]
==
<div class="col-sm-6 wow fadeInDown">
                    <div class="accordion">
                        <h2 align="right"  style="direction: rtl;">چرا ما را انتخاب کنید؟</h2>
                        <div class="panel-group" id="accordion1">
                          <div class="panel panel-default">
                            <div class="panel-heading active">
                              <h3 class="panel-title" align="right">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1" align="right">
                                  شناخت صنعت
                                  <i class="fa fa-angle-left pull-right"></i>
                                </a>
                              </h3>
                            </div>

                            <div id="collapseOne1" class="panel-collapse collapse in">
                              <div class="panel-body">
                                  <div class="media accordion-inner">
                                        <div class="pull-left">
                                            <img class="img-responsive" src="{{ '/assets/images/accordion1a.png'|theme }}">
                                        </div>
                                        <div class="media-body">
                                             <h4 align="right">اکتشافات معدنی</h4>
                                             <p align="right" style="direction: rtl;">به پشتوانه ی تجربه ی غریب ما بعد از 38 سال فعالیت در انواع زمینه های اکتشاف و بهره برداری معادن شروع به گزینش ، تولید و توزیع تجیزات مورد نیاز کرده ایم.</p>
                                        </div>
                                  </div>
                              </div>
                            </div>
                          </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title" align="right">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1" align="right">
                                  تامین از مبدا
                                  <i class="fa fa-angle-left pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseTwo1" class="panel-collapse collapse" >
                              <div class="panel-body" align="right">دستگاه مورد نیاز شما در هر کشوری تولید شود ما به صورت مستقیم و بدون واسطه این دستگاه را تامین خواهیم کرد.</div>
                            </div>
                          </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title" align="right">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1" align="right">
                                  توسعه تجهیزات
                                  <i class="fa fa-angle-left pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseThree1" class="panel-collapse collapse">
                              <div class="panel-body" align="right">ما خویش را صرفا محدود به فروش ماشین آلات ندانسته و در راستای افزایش کیفیت و راندمان محصولات، آن ها را توسعه داده  دادخ و بهینه  می نماییم. </div>
                            </div>
                          </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title" align="right">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1" align="right">
                                  ساخت تجهیزات سفارشی
                                  <i class="fa fa-angle-left pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseFour1" class="panel-collapse collapse">
                              <div class="panel-body" align="right">عملیات نمونه برداری و نیز حفاری همیشه در مکان های مناسب بکار گیری ماشین آلات  استاندارد انجام نمیگیرد. به همین علت ما آماده طراحی و تولید ماشین آلات و تجهیزات متناسب با پروژهای شما هستیم. </div>
                            </div>
                          </div>
                        </div><!--/#accordion1-->
                    </div>
                </div>