[viewBag]
==
<div class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
                <li data-target="#main-slider" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
            
                <div class="item active" style="background-image: url({{ 'assets/images/slider/bg6.jpg'|theme }})">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1" align="right">شرکت سرمایه گذاری الماس جانفشان</h1>
                                        <h2 class="animation animated-item-2" align="right"> تولیدکننده ماشین آلات کرگیری،نمونه برداری و تامین کننده قطعات یدکی و تجهیزات مصرفی</h2>
                                        <a class="btn-slide animation animated-item-3" href="{{ 'continue'|page }}">ادامه</a>
                                </div>
                            </div>

                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="{{ 'assets/images/slider/saj3.png'|theme }}" class="img-responsive">
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!--/.item-->

                <div class="item" style="background-image: url({{ 'assets/images/slider/bg1.jpg'|theme }})">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1" align="right">در اندیشه توسعه متوازن خود و مشتریانمان هستیم</h1>
                                    <h2 class="animation animated-item-2" align="right">هدف ما توسعه مهارتهای انسانی، بهبود عملکرد مالی و عملیاتی با در نظر گرفتن مسئولیت های اجتماعی و محیط زیستی می باشد</h2>
                                    
                                </div>
                            </div>

                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="{{ 'assets/images/slider/img1.png'|theme }}" class="img-responsive">
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!--/.item-->

                <div class="item" style="background-image: url({{ 'assets/images/slider/bg2.jpg'|theme }})">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1" align="right">نگاهی به آینده داریم</h1>
                                    <h2 class="animation animated-item-2" align="right"> با رصد آخرین تکنولوژی ها و نو آوری ها در کلاس جهانی سعی در تامین و بومی سازی محصولات داریم و با ور داریم که تلاش ها در این زمینه بایستی کاهش هزینه ها، ریسک ها و دغدغه های کاری مشتریان را فراهم سازد</h2>
                                    <a class="btn-slide animation animated-item-3" href="{{ 'continue'|page }}">ادامه</a>
                                </div>
                            </div>

                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="{{ 'assets/images/slider/img2.png'|theme }}" class="img-responsive">
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!--/.item-->

                <div class="item" style="background-image: url({{ 'assets/images/slider/bg3.jpg'|theme }})">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1" align="right">ریشه در گذشته این صنعت داریم</h1>
                                    <h2 class="animation animated-item-2" align="right">بهره مندی بیش از چهار دهه تجربه در زمینه اکتشاف و بهره برداری از معادن مختلف و حدود یک دهه تجربه در زمینه تامین،تعمیر و تولید ماشین آلات و ابزار آلات کر گیری و حفاری </h2>
                                    <a class="btn-slide animation animated-item-3" href="{{ 'more-information'|page }}">مطالب بیشتر</a>
                                </div>
                            </div>
                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="{{ 'assets/images/slider/img3.png'|theme }}" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->