[viewBag]
==
<div class="container">
           <div class="center wow fadeInDown">
                <h2>خدمات</h2>
                <p class="lead" style="direction: rtl;">مشاوره، طراحی، تولید،تامین، راه اندازی،فروش وآموزش ضمن تعهد به همراهی و ارائه خدمات پس از فروش</p>
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-bullhorn"></i>
                            <h2 align="right">اطلاع رسانی</h2>
                            <h3 align="right">انتشار آخرین اخبار و مطالب از طریق وبسایت و شبکه های اجتماعی</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-comments"></i>
                            <h2 align="right">مشاوره</h2> 
                             <h3 align="right">مشاوره ۷ روز هفته و ۲۴ ساعت شبانه روز</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-cloud-download"></i>
                            <h2 align="right">منابع آموزشی</h2>
                            <h3 align="right">تهیه و توزیع منابع آموزشی به کارگیری ماشین آلات و روش های نگهداری از آن ها</h3>
                        </div>
                    </div><!--/.col-md-4-->
                
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-leaf"></i>
                            <h2 align="right">دوستدار محیط زیست</h2>
                            <h3 align="right">جلوگیری از تخریب های بیهوده محیط زیست</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-cogs"></i>
                            <h2 align="right">تامین و تعمیر کامل</h2>
                            <h3 align="right">تامین لوازم یدکی، مصرفی و تعمیر تجهیزات در سریع ترین زمان ممکن</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-heart"></i>
                            <h2 align="right">رضایت مشتریان</h2>
                            <h3 align="right">شناخت نیازها،دغدغه های فکری و شرایط کاری مشتریان و نیز ارائه راه حل های متناسب</h3>
                        </div>
                    </div><!--/.col-md-4-->
                </div><!--/.services-->
            </div><!--/.row-->    
        </div><!--/.container-->