[viewBag]
==
<div class="container" style="direction:rtl;">
            <div class="center wow fadeInDown" style="direction: rtl;">
                <h2>محصولات</h2>
                <p class="lead">دستگاه ها و تجهیزات نمونه برداری، کرگیری و حفاری طراحی تامین و تولید شده  ساج دریل</p>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{{ 'assets/images/products/recent/item1a.png'|theme }}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">دستگاه کامل</a> </h3>
                                <p>موتور و گیربکس تاناکا</p>
                                <a class="preview" href="{{ 'assets/images/products/full/item1a.png'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i> نمایش</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{{ 'assets/images/products/recent/item2a.png'|theme }}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">دستگاه کامل</a></h3>
                                <p>موتور کاوازاکی با گیربکس سیاره ای</p>
                                <a class="preview" href="{{ 'assets/images/products/full/item2a.png'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i> نمایش</a>
                            </div> 
                        </div>
                    </div>
                </div> 

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{{ 'assets/images/products/recent/item3a.png'|theme }}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">دستگاه کامل</a></h3>
                                <p>موتور کاوازاکی با گیربکس ترکیه </p>
                                <a class="preview" href="{{ 'assets/images/products/full/item3a.png'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i> نمایش</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{{ 'assets/images/products/recent/item4a.png'|theme }}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">پک کامل دستگاه</a></h3>
                                <p>پک کامل دستگاه با لوازم استیل و موتور کاوازاکی و گیربکس سیاره ای</p>
                                <a class="preview" href="{{ 'assets/images/products/full/item4a.png'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i> نمایش</a>
                            </div> 
                        </div>
                    </div>
                </div>   
                
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{{ 'assets/images/products/recent/item5a.png'|theme }}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">سرمته مواد نرم</a></h3>
                                <p>سرمته مواد نرم استیل جهت حفاری در خاک های میان لایه های سنگی</p>
                                <a class="preview" href="{{ 'assets/images/products/full/item5a.png'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i> نمایش</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{{ 'assets/images/products/recent/item6a.png'|theme }}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">دستگاه کامل</a></h3>
                                <p>موتور و گیربکس چینی</p>
                                <a class="preview" href="{{ 'assets/images/products/full/item6a.png'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i> نمایش</a>
                            </div> 
                        </div>
                    </div>
                </div> 

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{{ 'assets/images/products/recent/item7a.png'|theme }}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">دستگاه کامل دونفره</a></h3>
                                <p>موتور و گیربکس چینی با قابلیت استفاده دونفره و تک نفره</p>
                                <a class="preview" href="{{ 'assets/images/products/full/item7a.png'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i> نمایش</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{{ 'assets/images/products/recent/item8a.png'|theme }}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">لوازم مصرفی</a></h3>
                                <p>ارائه لوازم مصرفی با کیفیت گریس سوئدی و روغن موتور آمریکایی</p>
                                <a class="preview" href="{{ 'assets/images/products/full/item8a.png'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i> نمایش</a>
                            </div> 
                        </div>
                    </div>
                </div>   
            </div><!--/.row-->
        </div><!--/.container-->