[viewBag]
==
<div class="container">
            <div class="center wow fadeInDown">
                <h2>ویژگی ها</h2>
                <p class="lead" style="direction: rtl;">فروش تنها قسمت کوچکی از فعالیت هایمان بوده و مزیت اصلی ما تهعد به ارائه خدمات میباشد که ما را از سایرین متمایز می نماید.</p>
            </div>

            <div class="row">

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-right">
                            <img class="img-responsive" src="{{ 'assets/images/services/services1.png'|theme }}">
                        </div>
                        <div class="media-body" style="direction: rtl;">
                            <h3 class="media-heading" align="right">مشاوره </h3>
                            <p align="right">ارائه مشاوره فنی جهت بودجه بندی متناسب با پروژه مد نطرتان</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-right">
                            <img class="img-responsive" src="{{ 'assets/images/services/services2.png'|theme }}">
                        </div>
                        <div class="media-body" style="direction: rtl;">
                            <h3 class="media-heading" align="right">همیشه به موقع</h3>
                            <p align="right">همیشه مشتریان در اولویت کاری ما قرار دارند، روی ما  حساب کنید.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-right">
                            <img class="img-responsive" src="{{ 'assets/images/services/services3.png'|theme }}">
                        </div>
                        <div class="media-body" style="direction: rtl;">
                            <h3 class="media-heading" align="right" >نگهداری</h3>
                            <p align="right"> مهارت عیب یابی و تعمیر تمامی ماشین آلات و تجهیزات ارائه شده.</p>
                        </div>
                    </div>
                </div>  

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-right">
                            <img class="img-responsive" src="{{ 'assets/images/services/services4.png'|theme }}">
                        </div>
                        <div class="media-body" style="direction: rtl;">
                            <h3 class="media-heading" dir="rtl">آموزش</h3>
                            <p align="right">آموزش بکارگیری و نگهداری ماشین آلات و تجهیزات و صدور گواهی نامه</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-right">
                            <img class="img-responsive" src="{{ 'assets/images/services/services5.png'|theme }}">
                        </div>
                        <div class="media-body" style="direction: rtl;">
                            <h3 class="media-heading" align="right">همیشه در دسترس</h3>
                            <p align="right">استفاده از تمامی امکانات و منابع موجود برای ارتباط دو جانبه مستمر</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-right">
                            <img class="img-responsive" src="{{ 'assets/images/services/services6.png'|theme }}">
                        </div>
                        <div class="media-body" style="direction: rtl;">
                            <h3 class="media-heading" align="right">پشتیبانی</h3>
                            <p align="right">در هر کجای کشور که باشید دانش فنی و تجهیزات ما در اختیار شماست</p>
                        </div>
                    </div>
                </div>                                                
            </div><!--/.row-->
        </div><!--/.container-->