[viewBag]
==
<div class="col-xs-12 col-sm-8 wow fadeInDown">
                   <div class="tab-wrap"> 
                        <div class="media">
                            <div class="parrent pull-left">
                                <ul class="nav nav-tabs nav-stacked" align="right" >
                                    <li class=""><a href="#tab1" data-toggle="tab" class="analistic-01">امتيازات دستگاه</a></li>
                                    <li class="active"><a href="#tab2" data-toggle="tab" class="analistic-02">مشخصات دستگاه كرگيري</a></li>
                                    <li class=""><a href="#tab3" data-toggle="tab" class="tehnical">نمایندگی انحصاری</a></li>
                                    <li class=""><a href="#tab4" data-toggle="tab" class="tehnical">بهبود عملکرد</a></li>
                                    <li class=""><a href="#tab5" data-toggle="tab" class="tehnical">اعطای نمایندگی</a></li>
                                </ul>
                            </div>

                            <div class="parrent media-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade" id="tab1">
                                        <div class="media">
                                           <div class="pull-left">
                                                <img class="img-responsive" src="{{ 'assets/images/tab2.png'|theme }}">
                                            </div>
                                            <div class="media-body">
                                                 <h2 style="direction: rtl;">دستگاه كرگيري قابل حمل ساج دريل</h2>
                                                
                                                 <ul style="direction: rtl;">
                <li>سبكي و قابليت حمل</li>
                <li>بدون نياز به  دستگاه جانبي</li>
                <li>سهولت كاربري بدون نياز به مهارت زياد</li>
                <li>سرعت بالاي حفاري</li>
                <li>موتور بنزين سوز با مصرف سوخت ناچیز </li>
                <li>پشتيباني و تامين قطعات</li>
                <li>دارای سر مته های متنوع (با ضخامت های  مختلف و با تراکم دانه های الماسه بالا) جهت استفاده در سنگ ها با سختی خای متفاوت</li>
            </ul>
                                            </div>
                                        </div>
                                    </div>

                                     <div class="tab-pane fade active in" id="tab2">
                                        <div class="media">
                                           <div class="pull-left">
                                                <img src="{{ 'assets/images/tab1a.png'|theme }}" class="img-responsive">
                                            </div>
                                            <div class="media-body"  style="direction:rtl" style="direction: rtl;">
                                                 <h2>مشخصات دستگاه كرگيري</h2>
                                                 <ul style="direction: rtl;">
									                <li>عمق اسمي قابل كرگيري تا 18 متر</li>
									                <li>قطر نمونه مغزه : 25، 41،51 ميلي متر</li>
									                <li>مصرف آب: 500 الی 1000 لیتر در روز </li>
									                <li>مصرف سوخت: 1 ليتردر ساعت</li>
									                <li>حداكثرسرعت دوراني: &zwnj; 1920 rpm</li>
									                <li>قدرت موتور: 2.8 اسب بخار </li>
									            </ul>
                                            </div>
                                        </div>
                                     </div>

                                     <div class="tab-pane fade" id="tab3">
                                        <p style="direction: rtl;">اين دستگاه در ابتدا  ساخت و طراحي كشور  ايالات متحده آمريكا بوده و به عنوان يك اختراع و طرح ابتكاري توسط يك متخصص زمين شناسي ثبت و اكنون به صورت تجاري در اختيار صاحبان صنايع و فعاليت هاي معدني و متخصصان قرار گرفته است همچنین شرکت های دیگری در ادامه اقدام به تولید آن نموده اند . شركت سرمايه گذاري الماس جانفشان با اخذ نمايندگي  اين دستگاه از تولیدکنندگان مختلف مجوز توزيع انحصاري  آن را در ايران در اختيار دارد و نیز وظيفه پشتياني و تامين قطعات را بر عهده خواهد داشت</p>
                                     </div>
                                     
                                     <div class="tab-pane fade" id="tab4">
                                        <p style="direction: rtl;">اين دستگاه در طول سالیانی  كه عرضه شده با تغييرات و بهبودهايي همراه بوده و همچنان نيز به دليل باور شركت توليد كننده، ادامه دارد ،مختلف امكان پذير است و ابزارهاي جديدي جهت توسعه امكانات به  آن افزوده شده است. تمام قطعات از آلياژهاي  مقاومم و سبك ساخته شده است تا هدف اصلي دستگاه كه قابل حمل بودن است را فراهم نمايد. دستگاه از يك موتور بنزين سوز ساخت ژاپن با مصرف بسيار كم حدود ۱ ليتر در ساعت تشكيل شده است كه با وزن کم و كاربري آسان حفاري  و نمونه برداري را براي همه امكان پذير نموده است.</p>
                                     </div>

                                     <div class="tab-pane fade" id="tab5">
                                        <p style="direction: rtl;">جهت اخذ نمايندگي رزومه و مشخصات خود را به شماره تلفن 04134458670 فكس نمائيد و يا به آدرس janfeshanm@gmail.com ايميل نمائيد.</p>
                                     </div>
                                </div> <!--/.tab-content-->  
                            </div> <!--/.media-body--> 
                        </div> <!--/.media-->     
                    </div><!--/.tab-wrap-->               
                </div><!--/.col-sm-6-->