        <div class="col-xs-12 col-sm-4 wow fadeInDown">
                    <div class="testimonial" align="right" style="direction: rtl;">
                        <h2>نظر مشتریان</h2>
                         <div class="media testimonial-inner">
                            <div class="pull-left">
                                <img class="img-responsive img-circle" src="{{ 'assets/images/testimonials1a.png'|theme }}" align="right">
                            </div>
                            <div class="media-body">
                                <p>بعد از انجام یک پرژه به وسیله آن سایر ماشین آلات برایتان قابل تحمل نمی شود و سعی می کنید تا جای ممکن از این دستگاه قابل حمل بهره ببرید.</p>
                                <span><strong>-روزبه حمیدزاده جباری/</strong>مدیر عامل شرکت بازرگانی رهام</span>
                            </div>
                         </div>

                         <div class="media testimonial-inner">
                            <div class="pull-left">
                                <img src="{{ 'assets/images/testimonials1a.png'|theme }}" class="img-responsive img-circle" align="right">
                            </div>
                            <div class="media-body">
                                <p>از تعهد این شرکت در تامین لوازم یدکی به اندازه ای حیرت کردیم که تبدیل به تامین کننده اصلی ماشین آلات ما شدند.</p>
                                <span><strong>-وحید نیکفرد/</strong>مدیر عامل شرکت ارکین پی راه</span>
                            </div>
                         </div>

                    </div>
                </div>
				