[viewBag]
==
<div class="container" style="direction:rtl;">
            <div class="center wow fadeInDown" style="direction: rtl;">
                <h2>ماموریت ما</h2>
                <p class="lead"> ارائه جدیدنرین تکنولوژی بروز در محصولات و فناوری ها مهلت کاهش هزینه ها و ریسک موجود در فعالیت های معدنی و سهولت هرچه بیشتر در امر استفاده از محصولات میباشد.</p>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{{ 'assets/images/portfolio/recent/item1a.png'|theme }}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">مشتریان</a> </h3>
                                <p>ارتباط مستمر با مشتریان</p>
                                <a class="preview" href="{{ 'assets/images/portfolio/full/item1a.png'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i> نمایش</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{{ 'assets/images/portfolio/recent/item2a.png'|theme }}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">ایمنی</a></h3>
                                <p>ایمنی هر چه بیشتر اپراتور ها از اصول بنیادی ما می باشد.</p>
                                <a class="preview" href="{{ 'assets/images/portfolio/full/item2a.png'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i> نمایش</a>
                            </div> 
                        </div>
                    </div>
                </div> 

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{{ 'assets/images/portfolio/recent/item3a.png'|theme }}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">توسعه متوازن</a></h3>
                                <p>ما مسئولیت های اجتماعی خود و دغدغه های فکری مشتریان مان را درک می نماییم. </p>
                                <a class="preview" href="{{ 'assets/images/portfolio/full/item3a.png'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i> نمایش</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{{ 'assets/images/portfolio/recent/item4a.png'|theme }}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">کیفیت</a></h3>
                                <p>هدف ما ارائه دستگاه هایی با کیفیت است تا شما با اطمینان بیشتری سرمایه گذاری نمایید</p>
                                <a class="preview" href="{{ 'assets/images/portfolio/full/item4a.png'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i> نمایش</a>
                            </div> 
                        </div>
                    </div>
                </div>   
                
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{{ 'assets/images/portfolio/recent/item5a.png'|theme }}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">انعطاف در عملیات</a></h3>
                                <p>تهیه دستگاه هایی جهت استفاده در شرایط گوناگون</p>
                                <a class="preview" href="{{ 'assets/images/portfolio/full/item5a.png'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i> نمایش</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{{ 'assets/images/portfolio/recent/item6a.png'|theme }}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">امنیت اطلاعات</a></h3>
                                <p>محرمانه بودن اطلاعات فنی  ارائه شده هنگام مشاوره از اولویت های اصلی ما میباشد.</p>
                                <a class="preview" href="{{ 'assets/images/portfolio/full/item6a.png'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i> نمایش</a>
                            </div> 
                        </div>
                    </div>
                </div> 

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{{ 'assets/images/portfolio/recent/item7a.png'|theme }}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">اشتراک دانش فنی</a></h3>
                                <p>تجربیاتمان را با شما به اشتراک می گذاریم</p>
                                <a class="preview" href="{{ 'assets/images/portfolio/full/item7a.png'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i> نمایش</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{{ 'assets/images/portfolio/recent/item8a.png'|theme }}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">شخصی سازی محصولات</a></h3>
                                <p>مطابق نیازهای شما ماشین آلات مناسب را طراحی تامین و تولید می نماییم</p>
                                <a class="preview" href="{{ 'assets/images/portfolio/full/item8a.png'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i> نمایش</a>
                            </div> 
                        </div>
                    </div>
                </div>   
            </div><!--/.row-->
        </div><!--/.container-->