    <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>شرکت</h3>
                    <ul>
                        <li><a href="{{ 'samples/about'|page }}">درباره ما</a></li>
                        <li><a href="#">دعوت به همکاری</a></li>
                        <li><a href="#">آشنایی با تیم</a></li>
                        <li><a href="#">مالکیت معنوی</a></li>
                        <li><a href="#">شرایط استفاده</a></li>
                        <li><a href="#">ضوابط اطلاعات شخصی</a></li>
                        <li><a href="{{ 'samples/contact'|page }}">ارتباط با ما</a></li>
                    </ul>
                </div>    
            </div><!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>پشتیبانی</h3>
                    <ul>
                        <li><a href="#">پرسش و پاسخ</a></li>
                        <li><a href="{{ 'blog/blog'|page }}">وبلاگ</a></li>
                        <li><a href="#">تالار گفت و گو</a></li>
                        <li><a href="#">مستندات</a></li>
                        <li><a href="#">گارانتی</a></li>
                        <li><a href="#">پیگیری درخواست ها</a></li>
                        <li><a href="#">صدور پیش فاکتور</a></li>
                    </ul>
                </div>    
            </div><!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>خدمات</h3>
                    <ul>
                        <li><a href="#">تامین ماشین آلات</a></li>
                        <li><a href="#">پیمانکاری</a></li>
                        <li><a href="#">مشاوره</a></li>
                        <li><a href="#">سرمایه گذاری</a></li>
                        <li><a href="#">تولید تجهیزات</a></li>
                        <li><a href="#">اکتشاف</a></li>
                        <li><a href="#">بهره برداری</a></li>
                    </ul>
                </div>    
            </div><!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>همکاران</h3>
                    <ul>
						<li><a href="#">نظام مهندسی معدن</a></li>
						<li><a href="#">دریل های قابل حمل شاو</a></li>
                        <li><a href="#">معدنکاری شاهان</a></li>
                        <li><a href="#">ارکین پی راه</a></li>
                        <li><a href="#">سرمایه گذاری الماس جانفشان</a></li>
                        <li><a href="#">توسعه فناوری اطلاعات ساجیت</a></li>
                    </ul>
                </div>    
            </div><!--/.col-md-3-->
        </div>
    </div>
