    <div class="container">
        <div class="row">
<!--             <div class="col-sm-8"> -->
<!-- 				&copy;  {{ "now"|date("Y") }} {{ this.theme.site_name }}. All Rights Reserved. A <a href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates" target="_blank">ShapeBootstrap</a> Theme &#123;&#123; Powered by <a href="http://octobercms.com/">OctoberCMS</a> &#125;&#125; -->
<!--             </div> -->
            <div class="col-sm-8">
            تمامی حقوق این مجموعه متعلق به گروه فنی، مهندسی ساج دریل می باشد و هرگونه کپی برداری مشروط به کسب اجازه از این مجموعه است
            </div>
            <div class="col-sm-4">
                <ul class="pull-right">
                    <li><a href="{{ 'home'|page }}">خانه</a></li>
                    <li><a href="{{ 'samples/about'|page }}">درباره ما</a></li>
                    <li><a href="#">پرسش و پاسخ</a></li>
                    <li><a href="{{ 'samples/contact'|page }}">ارتباط با ما</a></li>
                </ul>
            </div>
        </div>
    </div>
