        <div class="container">
            <div class="center wow fadeInDown">
                <h2>همکاران ما</h2>
                <p class="lead">فعالیت در کلاس جهانی نیاز به همکاران و دوستانی در این سطح دارد که ما به داشتن چنین همراهانی، که  در تمام مسیر فعالیت هایمان از آن بهره مند هستیم ، به خود می بالیم.</p>
            </div>    

            <div class="partners">
                <ul>
                    <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" src="{{ 'assets/images/partners/partner1.png'|theme }}"></a></li>
                    <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" src="{{ 'assets/images/partners/partner2.png'|theme }}"></a></li>
                    <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms" src="{{ 'assets/images/partners/partner3.png'|theme }}"></a></li>
                    <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms" src="{{ 'assets/images/partners/partner4.png'|theme }}"></a></li>
                    <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1500ms" src="{{ 'assets/images/partners/partner5.png'|theme }}"></a></li>
                </ul>
            </div>        
        </div><!--/.container-->
